<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", {title:"Change Password"}) %>

<body>
    
    <%- include("./partials/header") %>

    <main id="login-register">
        <form class="form-log" action="/user/changepassword?_method=PUT" method="POST">
            <div class="log">
                <input class="texto" type="password" name="contrasenia" placeholder="Contraseña anterior">
            </div>
            <% if(locals.errors && errors.contrasenia){ %>
                <div class="div-input input-error errorPass">
                    <p class="error"><%= errors.contrasenia.msg %></p>
                </div>
            <% } %>
            <% if(locals.errors && errors.errorPass){ %>
                <div class="div-input input-error errorPass">
                    <p class="error"><%= errors.errorPass.msg %></p>
                </div>
            <% } %>
            <div class="log">
                <input class="texto" type="password" name="contraseniaNueva" placeholder="Contraseña nueva">
            </div>
            <% if(locals.errors && errors.contraseniaNueva){ %>
                <div class="div-input input-error errorPass">
                    <p class="error"><%= errors.contraseniaNueva.msg %></p>
                </div>
            <% } %>
            <div class="log">
                <input class="texto" type="password" name="contraseniaNuevaRepetir" placeholder="Repetir contraseña nueva">
            </div>
            <% if(locals.errors && errors.contraseniaNuevaRepetir){ %>
                <div class="div-input input-error errorPass">
                    <p class="error"><%= errors.contraseniaNuevaRepetir.msg %></p>
                </div>
            <% } %>
            <div class="button">
                <button class="button-login" type="submit">Ingresar</button>
            </div>
        </form>
    </main>

    <%- include("./partials/footer") %>
    
</body>
</html>