<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", {title:"Home"}) %>

    <body>

        <%- include("./partials/header") %>

            <section>
                <img class="banner" src="./images/img-home-banner.jpg" alt="homeBanner" width="350px">
            </section>
            <main>
                <section>
                    <h3 class="titulares">Basado en tu ultima visita</h3>
                    <div class="productos">
                        <% visita.forEach((row)=> { %>

                            <article>
                                <img src="./images/<%= row.image%>" alt="imagen cafetera">
                                <div class="info">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$<%= row.price%></p>
                                    <p class="descuentos"><%= row.discount%>% OFF</p>
                                    <h4 class="desc-prod"><%= row.name%></h4>
                                </div>
                            </article>

                        <% }) %>
                    </div>
                </section>
                <section>
                    <h3 class="titulares">Ofertas</h3>
                    <div class="productos">

                        <% oferta.forEach(row=> { %>

                            <article>
                                <img src="./images/<%= row.image%>" alt="imagen cafetera">
                                <div class="info">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$<%= row.price%></p>
                                    <p class="descuentos"><%= row.discount%>% OFF</p>
                                    <h4 class="desc-prod"><%= row.name%></h4>
                                </div>
                            </article>

                        <% }); %>

                    </div>
                </section>
            </main>

            <%- include("./partials/footer") %>

    </body>

</html>